body {
    background-color: lightblue;
}

header {
    color: white;
    text-align: center;
    font-family: verdana, serif;
    font-size: 20px;
    border: 2px dotted black;
    margin: 10px;
    border-radius: 25px;
}

h1 {
    color: white;
    text-align: center;
}

h4 {
    font-family: verdana, serif;
    font-size: 20px;
}