
body {
    background-color: lightblue;
/*     this is Chris's edit */
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
    font-family: verdana, serif;
    font-size: 20px;
    border: 2px dotted black;
    margin: 10px;
    border-radius: 25px;
}

h1 {
    color: white;
    text-align: center;
}

h4 {
    font-family: verdana, serif;
    font-size: 20px;
}
* {
    margin: 0; padding: 0;
}

#container {
    overflow: hidden;
    height: 400px;
    background: #edeae8;
    position: relative;
}

video {
    position: absolute;

    /* Vertical and Horizontal center*/
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
